# 파이썬 실행할때 자동생기는 캐시폴더 무시해주는거임 
__pycache__
# 파이썬 바이트코드 컴파일파일 무시해주는거임 # 바이트코드 - 파이썬 인터프리터가 이해하는 중간 단계 단어 
# pyc 파일이 바이트코드를 담아놓은 파일이다 # 컴파일 - 컴퓨터가 빨리 처리할 수 있게 미리 번역해서 저장해두는 과정
*.pyc
# API키, 비밀번호같은 민감한 환경변수파일 무시해주는거임 
.env

